version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXT_PUBLIC_ENABLE_LOCAL_STORAGE_MIGRATION=${NEXT_PUBLIC_ENABLE_LOCAL_STORAGE_MIGRATION}
    # Use Google DNS to resolve Prisma database
    dns:
      - 8.8.8.8
      - 8.8.4.4
    # Load environment variables from .env file
    env_file:
      - .env
